#morning {
    background-color: #ffe9b7;
    padding: 25px;
    border-bottom: 2px solid #ffba19;
    margin-bottom: 50px;
}
#morning .completed {
    text-decoration: line-through;
}
#morning .important {
    font-weight: bold;
    color: #8e1147;
}
#morning .completed.important {
    background-color: #ffba19;
}
#morning div.completed.important {
    display: inline-block;
}
#morning ul {
    background-color: #000000;
    padding: 25px;
    color: white;
}
#morning li {
    padding: 10px;
}
#morning .button {
    display: inline-block;
    background-color: #8e1147;
    color: #ffe9b7;
    text-decoration: none;
    padding: 8px 20px;
}