/* Resets */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: sans-serif;
    background-color: #282828;
}
img {
    width: 100%;
    object-fit: cover;
}

/* Student Styles Below */
.layout {
    width: 80%;
    max-width: 900px;
    margin: 0px auto;
    padding: 25px;
    border: 3px solid #5d51ba;
    background-color: #d1cbff;
}
h1.layout {
    margin: 25px auto;
    text-align: center;
}

#main-article {
    margin-bottom: 40px;
}
#main-article img {
    border: 3px solid #5d51ba;
}
#main-article h2 {
    margin-top: 15px;
}
#main-article p {
    margin: 15px 0px;
}