p {
    font-size: 20px;
    text-align: center;
}

#p1 {
    background-color: lavender;
    color: #45454a;
}

#p2 {
    font-weight: 800;
}

#p1-s1 {
    font-style: italic;
    text-decoration: underline;
}