* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: sans-serif;
    padding-bottom: 40px;
}
#cookbook {
    background-color: #dbd3ff;
}
.contain {
    width: 90vw;
    max-width: 1440px;
    margin: 0px auto;
}

#cookbook #header > div, #cookbook .card {
    background-color: #140849;
    color: #dbd3ff;
    padding: 25px;
    text-align: center;
    border-radius: 40px;
    margin: 40px auto;
}

#card-container > div {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    .card {
        min-width: 325px;
        flex: 1;
        padding: 25px;
        margin: 0px;
        text-align: left;
    }
}