@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Monsieur+La+Doulaise&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
img {
    width: 100%;
}
.post-it {
    background-color: yellow;
    width: 200px;
    min-height: 200px;
    padding: 24px;
    margin: 24px;
    vertical-align: top;
    display: inline-block;
    position: relative;
}
.post-it .pin {
    position: absolute;
    top: -30px;
    left: -30px;
    width: 80px;
    rotate: -20deg;
}
.blue {
    background-color: skyblue;
}
.blue .pin {
    rotate: 10deg;
}
.carrot {
    background-color: #edfdd0;
}
.carrot .pin {
    left: -30px;
}

.polaroid {
    background-color: #fff;
    padding: 10px;
    padding-bottom: 40px;
    text-align: center;
}
.p-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.polaroid p {
    font-family: "Monsieur La Doulaise", cursive;
    margin: 10px 0px 0px;
}