* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
.single-column {
    width: 90%;
    max-width: 1200px;
    margin: 0px auto;
}

header {
    background-color: navy;
}
header nav {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
}
nav a {
    color: white;
    text-decoration: none;
}
nav .logo img {
    width: 200px;
}