* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
img {
    width: 100%;
    object-fit: cover;
}
a {
   display: inline-block;
   color: #111;
   text-decoration: none;
}
.container {
    width: 90dvw;
    max-width: 1280px;
    margin: 0px auto;
}

#header {
    min-height: 70dvh;
    display: grid;
    grid-template-rows: max-content minmax(0px, 1fr);
    background:
        linear-gradient(0deg, #fff8, #fff8),
        url("../images/tiramisu.webp")
    ;
    background-size: cover;
    .nav {
        backdrop-filter: blur(10px);
        padding: 10px 0px;
    }
    .nav > div {
        
    }
}