#d1 {
    font-family: sans-serif;
}

.content {
    font-size: 20px;
    padding: 20px;
    background-color: #99bde2;
}

.shadow {
    background-color: lightblue;
    text-align: center;
    font-family: cursive;
    box-shadow: 2px -4px 10px #1115;
}