* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    margin: 0px;
}

.single-column {
    width: 80%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.light-container {
    background-color: lightgreen;
    padding: 48px 0px;
}

.dark-container {
    background-color: darkgreen;
    color: white;
    padding: 48px 0px;
}