#p1 {
    background-color: lightsalmon;
    padding: 20px;
}
#p2 {
    background-color: lightgreen;
    padding: 20px;
}
.column {
    font-family: monospace;
    width: 250px;
    display: inline-block;
}

.column span {
    background-color: black;
    color: white;
    display: block;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}