/* Resets Below */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}
a {
    text-decoration: none;
    color: #111;
    display: inline-block;
}
.ic img {
    height: 100%;
    display: block;
}
/* Resets Above */
.sc {
    width: 90dvw;
    max-width: 1440px;
    margin: 0px auto;
}
.btn {
    padding: 15px 40px;
    border: 1px solid #111;
    text-align: center;
}
header {
    border-bottom: 1px solid #111;
}
header nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    padding: 20px 0px;
}
header .links {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
header .logo {
    margin-right: auto;
}

.hero {
    height: 80dvh;
    margin: 0px 5dvw 0px 0px;
    display: flex;
    gap: 50px;
}
.hero .cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#gal {
    margin: 40px 0px;
}
#gal h2 {
    margin-bottom: 25px;
}
#gal .sc {
    display: grid;
    grid-template-columns: max-content minmax(0, 1fr);
    gap: 50px;
}
.gallery {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: masonry;
}
.gallery .ic {
    max-height: 40dvh;
}
#gal aside h3 {
    margin-bottom: 15px;
}
#gal aside ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#gal aside li {
    border: 1px solid #111;
    padding: 10px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 2px;
        background-color: #a198ff;
        z-index: -1;
        transition: width 0.5s;
    }
    &:hover::before {
        width: 100%;
    }
    &:hover {
        cursor: pointer;
    }
}