body {
    background-color: #111;
    font-family: monospace;
}
.color-palette {
    box-shadow: 6px 6px 12px #989898;
    text-align: center;
    margin: 24px;
    padding: 24px;
    background-color: #fff;
    /* Side by Sid Styles */
    /*display: inline-block;
    max-width: calc(33.33% - 100px);
    vertical-align: middle;*/
}
.color {
    margin: 0px;
    padding: 24px;
}

#p1-c1 {
    background-color: #f8daff;
}
#p1-c2 {
    background-color: #ef9acc;
    color: white;
}
#p1-c3 {
    background-color: #ffb592;
}

#p2-c1 {
    background-color: #f06;
}
#p2-c2 {
    background-color: #fad;
}
#p2-c3 {
    background-color: #f10;
}

#p3-c1 {
    background-color: #d1d2ff;
}
#p3-c2 {
    background-color: #d1ffd5;
}
#p3-c3 {
    background-color: #ffd1f1;
}